<p><span style="font-size: 30px;"><img src="http://gema.org.my/v1/images/logogema-4.jpg"
                                       style="width: 600px;" class="fr-fic fr-dib"></span></p>
<p><br></p>
<p>Hey <strong>$name$</strong>,</p>
<p>Heads up: your membership at GEMA is ending soon! <br> Your membership will stop on $expirationDate$.</p>
<p>Renew your membership? Click <a href="http://www.google.com" rel="noopener noreferrer" target="_blank">here</a></p>
<p><br>Thanks, <br>Team GEMA</p>