<p><span style="font-size: 30px;"><img src="http://gema.org.my/v1/images/logogema-4.jpg"
                                       style="width: 600px;" class="fr-fic fr-dib"></span></p>
<p><br></p>
<p><span style="font-size: 24px; font-family: Arial, Helvetica, sans-serif;">Hi $name$,</span></p>
<p><span style="font-family: Arial,Helvetica,sans-serif;"><span style="font-size: 24px;">I just wanted to drop you a quick line to wish you a very happy birthday!</span></span>
</p>
<p><span style="font-family: Arial,Helvetica,sans-serif;"><span
        style="font-size: 24px;">I hope you have a great day.</span></span>
</p>
<p><span style="font-family: Arial,Helvetica,sans-serif;"><br><span
        style="font-size: 18px;">Take care,</span></span><br><span
        style="font-size: 18px; font-family: Arial, Helvetica, sans-serif;">Team GEMA</span></p>