<body style="font-size:40px;
					font-family:arial, sans-serif">
<table id="TABLE_1"
       style="color:rgb(34, 34, 34);
                    font-size: 20px;
					height:256px;
					text-align:center;
					text-decoration:none solid rgb(34, 34, 34);
					width:440px;
					column-rule-color:rgb(34, 34, 34);
					perspective-origin:240px 158px;
					transform-origin:240px 158px;
					background-color:rgb(255, 255, 255);
					background-image:none;
					background-repeat:repeat;
					background-position:0% 0%;
					background-attachment:scroll;
					border-radius:7px 7px 7px 7px;
					line-height:normal;
					margin-top:20px;
					margin-bottom:20px;
					margin-right:0px;
					margin-left:0px;
					outline-color:rgb(34, 34, 34);
					outline-style:none;
					outline-width:0px;
					padding-top:30px;
					padding-bottom:30px;
					padding-right:20px;
					padding-left:20px;">
    <tbody id="TBODY_2"
           style="color:rgb(34, 34, 34);
					height:256px;
					text-align:center;
					text-decoration:none solid rgb(34, 34, 34);
					width:440px;
					column-rule-color:rgb(34, 34, 34);
					perspective-origin:220px 128px;
					transform-origin:220px 128px;
					border-width:0px;
					border-style:none;
					border-color:rgb(128, 128, 128);
					border-spacing:2px 2px;
					line-height:normal;
					outline-color:rgb(34, 34, 34);
					outline-style:none;
					outline-width:0px;">
    <tr id="TR_6"
        style="color:rgb(34, 34, 34);
					text-align:center;
					text-decoration:none solid rgb(34, 34, 34);
					vertical-align:middle;
					width:440px;
					column-rule-color:rgb(34, 34, 34);
					perspective-origin:220px 126px;
					transform-origin:220px 126px;
					caret-color:rgb(34, 34, 34);
					border-width:0px;
					border-style:none;
					border-color:rgb(128, 128, 128);
					border-spacing:2px 2px;
					line-height:normal;
					outline-color:rgb(34, 34, 34);
					outline-style:none;
					outline-width:0px;">
        <td id="TD_7"
            style="color:rgb(34, 34, 34);
					text-align:center;
					text-decoration:none solid rgb(34, 34, 34);
					vertical-align:middle;
					width:434px;
					column-rule-color:rgb(34, 34, 34);
					perspective-origin:218px 126px;
					transform-origin:218px 126px;
					border-width:0px;
					border-style:none;
					border-color:rgb(34, 34, 34);
					border-spacing:2px 2px;
					line-height:normal;
					outline-color:rgb(34, 34, 34);
					outline-style:none;
					outline-width:0px;
					padding-top:1px;
					padding-bottom:1px;
					padding-right:1px;
					padding-left:1px;">
            <img src="http://gema.org.my/v1/images/logogema-4.jpg" alt="GEMA">
        </td>
    </tr>
    <tr id="TR_3"
        style="color:rgb(34, 34, 34);
					height:252px;
					text-align:center;
					text-decoration:none solid rgb(34, 34, 34);
					vertical-align:middle;
					width:440px;
					column-rule-color:rgb(34, 34, 34);
					perspective-origin:220px 126px;
					transform-origin:220px 126px;
					border-width:0px;
					border-style:none;
					border-color:rgb(128, 128, 128);
					border-spacing:2px 2px;
					line-height:normal;
					outline-color:rgb(34, 34, 34);
					outline-style:none;
					outline-width:0px;">
        <td id="TD_4"
            style="color:rgb(34, 34, 34);
					height:250px;
					text-align:center;
					text-decoration:none solid rgb(34, 34, 34);
					vertical-align:middle;
					width:434px;
					column-rule-color:rgb(34, 34, 34);
					perspective-origin:218px 126px;
					transform-origin:218px 126px;
					border-width:0px;
					border-style:none;
					border-color:rgb(34, 34, 34);
					border-spacing:2px 2px;
					line-height:normal;
					outline-color:rgb(34, 34, 34);
					outline-style:none;
					outline-width:0px;
					padding-top:1px;
					padding-bottom:1px;
					padding-right:1px;
					padding-left:1px;">
            Hi $name$,
            <br>
            Terima kasih kerana mendaftar dengan pertubuhan GEMA Malaysia.
            <br id="BR_7"
                style="color:rgb(68, 68, 68);
					text-align:left;
					text-decoration:none solid rgb(68, 68, 68);
					column-rule-color:rgb(68, 68, 68);
					perspective-origin:0px 0px;
					transform-origin:0px 0px;
					border-width:0px;
					border-style:none;
					border-color:rgb(68, 68, 68);
					border-spacing:2px 2px;
					line-height:normal;
					outline-color:rgb(68, 68, 68);
					outline-style:none;
					outline-width:0px;"/>
            Pendaftaran akan disahkan oleh urusetia di bahagian pusat dan emel akan dihantar bagi
            tujuan pemakluman.
            <br/>
            <br/>
            Team Gema
        </td>
    </tr>
    </tbody>
</table>
</body>
